body {
    background: #ffffff;
    color: #212121;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Header section */

.header {
    height: 72px;
    flex-shrink: 0;
    background: var(--white, #FFF);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-list {
    display: flex;
    padding-left: 36px;
    align-items: center;
}

.logo {
    color: var(--navyblue, #2E2F42);
    display: inline-flex;
    height: 24px;
    align-items: center;
    flex-shrink: 0;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.web {
    color: #4D5AE5;
}

.list {
    display: inline-flex;
}

.list-item a {
    color: var(--navyblue, #2E2F42);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
    display: inline-flex;
    margin-left: 40px;
}

.list-item a:active {
    color: var(--ocean, #404BBF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.list-address a {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    display: inline-flex;
    margin: 24px 20px 24px 20px;
}

.list-address a:active {
    color: var(--ocean, #404BBF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

/* Hero section */

.hero {
    height: 600px;
    flex-shrink: 0;
    background: var(--navyblue, #2E2F42);
    color: #ffffff;
}

.hero-item {
    color: var(--white, #ffffff);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    margin: 0 472px 40px 472px;
    padding-top: 188px;
}

.button {
    text-align: center;
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    box-sizing: border-box;
    margin: 0 0 0 635px;
    cursor: pointer;
}

.button:hover {
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--ocean, #404BBF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* Main section */

.feutures {
    display: inline-flex;
    margin-left: 78px;
    margin-right: 78px;
    flex-shrink: 0;
}

.feutures-title {
    color: #ffffff;
}

.feutures-list {
    color: var(--navyblue, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-right: 12px;
    margin-left: 12px;
}

.feutures-item {
    color: var(--navyblue, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    margin-left: 12px;
}

.feutures-text {
    color: var(--slate, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.32px;
    margin: 0 0 0 12px;
}

.portfolio-item {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin: 100px 558px 72px 559px;
}

.portfolio-list {
    display: inline-flex;
    margin-left: 78px;
}

.portfolio-images {
    margin: 0 24px 120px 24px;
    display: flex;
}

.team-section {
    background: var(--cloud, #F4F4FD);
    height: 732px;
    flex-shrink: 0;
}

.team-item {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    padding-top: 120px;
}

.team-list {  
    display: inline-flex;
    margin-left: 156px;
    margin-top: 36px;
    padding-left: 0;
}

.team-cards {
    width: 264px;
    height: 380px;
    display: list-item;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 12px 0 12px;
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.photo {
    width: 264px;
    height: 260px;
}

.team-name {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    margin-top: 32px;
}

.position {
    color: var(--slate, #434455);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-top: 0;
    block-size: border-box;
}

/* Footer */

.footer {
    height: 312px;
    flex-shrink: 0;
    background: var(--navyblue, #2E2F42);
}

.logo-footer {
    color: var(--navyblue, #ffffff);
    display: inline-flex;
    height: 24px;
    align-items: center;
    flex-shrink: 0;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    margin-top: 100px;
    padding-left: 156px;
}

.text-footer {
    color: var(--cloud, #F4F4FD);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    width: 264px;
    margin-top: 16px;
    margin-left: 156px;
}