:root {
    --brand-color: #3f51b5;
  }

body {
    background: #ffffff;
    color: #434455;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

span {
    color: var(--navyblue, #f4f4fd)
    
}

address {
    font-style: normal;
}
/* Header section */

.header {
    height: 72px;
    flex-shrink: 0;
    background: var(--white, #FFF);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--cornflower, #E7E9FC);

}

.header-list {
    display: flex;
    padding-left: 36px;
    align-items: center;
}

.link {
    text-decoration: none;
}

.logo {
    color: var(--navyblue, #4d5ae5);
    display: inline-flex;
    height: 24px;
    align-items: center;
    flex-shrink: 0;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.header-span {
    color: var(--navyblue, #2e2f42);
}

.list {
    list-style: none;
}

.list-item {
    color: var(--navyblue, #2e2f42);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: inline-flex;
    margin-left: 40px;
}

.list-item:hover {
    color: #404bbf;
}

.list-item:focus {
    color: #404bbf;
}

.list-item:active {
    color: var(--ocean, #404BBF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

.address-item {
    color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    display: inline-flex;
    margin: 24px 20px 24px 20px;
    
}

.address-item:hover {
    color: #404bbf;
}

.address-item:focus {
    color: #404bbf;
}

.list-address a:active {
    color: var(--ocean, #404BBF);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

/* Hero section */

.hero {
    height: 600px;
    flex-shrink: 0;
    background: var(--navyblue, #2E2F42);
    color: #ffffff;
}

.hero-item {
    color: var(--white, #ffffff);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    margin: 0 472px 40px 472px;
    padding-top: 188px;
}

.button {
    text-align: center;
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--white, #FFF);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    box-sizing: border-box;
    margin-left: 635px;
    margin-right: 635px;
    cursor: pointer;
}

.button:hover {
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--ocean, #404BBF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.button:focus {
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background-color: #404BBF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

/* Main section */

.feutures-container {
    margin-left: auto;
    margin-right: auto;
}
.feutures {
    display: inline-flex;
    margin-left: 78px;
    margin-right: 78px;
    flex-shrink: 0;
}

.feutures-title {
    color: var(--navyblue, #2e2f42)
    font-weight: 500;
    font-style: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    display: none;
}

.feutures-list {
    color: var(--navyblue, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 72px;
}

.feutures-item {
    color: var(--navyblue, #2E2F42);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2px; 
    letter-spacing: 0.4px;
    margin-left: 12px;
}

.feutures-text {
    color: var(--slate, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.32px;
    margin: 0 0 0 12px;
}

.portfolio-item {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin: 100px auto 72px;
    
}

.list {
    display: inline-flex;
    padding: 0;
    margin: 0;
    margin-left: 168px;
    background: var(--cloud, #F4F4FD);
    height: 732px;
    flex-shrink: 0;
}

.portfolio-images {
    margin: 0 24px 120px 0;
    display: flex;
}

.team-item {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    padding-top: 120px;
}

.team-list {  
    display: inline-flex;
    margin-left: 156px;
    margin-top: 36px;
    padding-left: 0;
}

.team-cards {
    width: 264px;
    height: 380px;
    display: list-item;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 12px 0 12px;
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-name {
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
    margin-top: 24px;
}

.position {
    color: var(--slate, #434455);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    margin-top: 0;
    block-size: border-box;
}

/* Footer */

.footer {
    height: 312px;
    flex-shrink: 0;
    background: var(--navyblue, #2E2F42);
    font-family: 'Raleway', sans-serif;
}

.text-footer {
    color: var(--cloud, #F4F4FD);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    width: 264px;
    margin-top: 16px;
    margin-left: 156px;
}

/* Portfolio Page */

.list-button {
    list-style: none;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 96px;
    margin-bottom: 72px;
    padding-left: 450px;
}

.buttons {
    padding-right: 24px;
}

.buttons-item {
    height: 48px;
    color: var(--iris, #4D5AE5);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;

    display: inline-block;
    padding: 0px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--cloud, #F4F4FD);
    cursor: pointer;
}

.buttons-item:hover {
    display: inline;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background-color: #404BBF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #ffffff;
}

.buttons-item:focus {
    display: inline;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background-color: #404BBF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #ffffff;   
}

/* Portfolio section */

h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--brand-color, #2e2f42)
}

p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--brand-color, #434455)
}

.list-main-row {
    list-style: none;
    display: inline-flex;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 48px;
    margin-left: 156px;
    padding-left: 0;
}

.link-row {
    text-decoration: none;
    display: inline-flex;
    align-items: flex-start;
    margin-top: 0;
    margin-bottom: 120px;
    margin-left: 156px;
    padding-left: 0;
}

.row-list {
    display: flex;
    width: 360px;
    height: 420px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: #FFF;
    overflow: hidden;
    margin: 0 24px 0 0;
}

.row-text {
    color: var(--slate, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; 
    letter-spacing: 0.32px;
    margin: 0;
    margin-left: 16px;
    margin-bottom: 32px;
}